.b-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 33em;
    border: solid 1px black;
    
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20em;
    height: 33em;
    margin: 2em;
}

.div-color {
    display: flex;
}

.color {
    width: 1em;
    height: 1em;
    border: solid 1px black;
    border-radius: 50%;
}

input {
    margin: 0.5em;
}

.circle{
    height: 1em;
    width: 1em;
    border: solid black 1px;
    border-radius: 50%;
}

